*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0.5rem;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.loader {
	height: 100vh;
	display: grid;
	place-items: center;
}

.text-center {
	text-align: center;
}

.p-1 {
	padding: 0.5rem;
}
